Repository yaguma/atelier: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

biome-check:
  run: pnpm biome check --write --staged {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm tsc --noEmit

docs: 要件定義書v1.7のフェーズ別行動コスト表の調合コスト範囲を修正
  docs/spec/atelier-guild-rank-requirements.md
Due: none

docs: セクション1.2のメインループ説明文の調合コスト範囲も修正
  docs/spec/atelier-guild-rank-requirements.md
Due: none

docs: core-systems-infrastructure.mdのEventBus設計・バージョン記述を最新化
  docs/design/atelier-guild-rank/core-systems-core-services.md
  docs/design/atelier-guild-rank/core-systems-infrastructure.md
Due: none

fix: レビュー指摘修正（バリデーション漏れ・型ガード共通化）
  atelier-guild-rank/src/shared/services/save-load/migration/migrate-save-data.ts
  atelier-guild-rank/src/shared/services/save-load/migration/migrations/v1_0_to_v1_1.ts
  atelier-guild-rank/src/shared/services/save-load/migration/save-data-validator.ts
  atelier-guild-rank/src/shared/services/save-load/migration/types.ts
Due: biome-check, typecheck

chore: typecheckスクリプトを追加しドキュメントを更新
  .claude/rules/bash-commands.md
  CLAUDE.md
  atelier-guild-rank/package.json
  package.json
Due: biome-check

docs: レビュー指摘に基づきStateManagerクラス図・イベント定義表を修正
  docs/design/atelier-guild-rank/core-systems-infrastructure.md
Due: none

chore: rexUI関連の型安全性改善（biome-ignore 12件削除・as never解消）
  atelier-guild-rank/src/features/gathering/components/GatheringPhaseUI.ts
  atelier-guild-rank/src/scenes/MainScene.ts
  atelier-guild-rank/src/scenes/ShopScene.ts
  atelier-guild-rank/src/scenes/TitleScene.ts
  atelier-guild-rank/src/scenes/types/main-scene-types.ts
  atelier-guild-rank/src/shared/components/BaseComponent.ts
  atelier-guild-rank/src/shared/presentation/ui/components/QuestCardUI.ts
  atelier-guild-rank/src/shared/presentation/ui/phases/QuestAcceptPhaseUI.ts
  atelier-guild-rank/tests/unit/presentation/ui/phases/QuestAcceptPhaseUI-board-visitor.test.ts
Due: biome-check, typecheck

refactor: save-data-validator.tsのバリデーション関数を4ファイルに分割
  atelier-guild-rank/src/shared/services/save-load/migration/save-data-validator.ts
  atelier-guild-rank/src/shared/services/save-load/migration/validate-game-state.ts
  atelier-guild-rank/src/shared/services/save-load/migration/validate-sub-states.ts
  atelier-guild-rank/src/shared/services/save-load/migration/validation-helpers.ts
Due: biome-check, typecheck

chore: ゲームバランス定数の一元管理（GAME_CONFIG）とマジックナンバー解消
  .claude/rules/coding-style.md
  atelier-guild-rank/src/features/alchemy/types/quality.ts
  atelier-guild-rank/src/features/gathering/services/calculate-materials.ts
  atelier-guild-rank/src/features/gathering/services/gather.ts
  atelier-guild-rank/src/features/quest/services/calculate-reward.ts
  atelier-guild-rank/src/features/quest/services/generate-quests.ts
  atelier-guild-rank/src/features/quest/services/index.ts
  atelier-guild-rank/src/features/quest/types/quest-board.ts
  atelier-guild-rank/src/features/rank/services/contribution-calculator.ts
  atelier-guild-rank/src/features/rank/services/rank-operations.ts
  atelier-guild-rank/src/shared/constants/game-config.ts
  atelier-guild-rank/src/shared/constants/index.ts
  atelier-guild-rank/src/shared/services/state-manager/initial-state.ts
  atelier-guild-rank/src/shared/types/constants.ts
  atelier-guild-rank/tests/unit/features/gathering/services/calculate-materials.test.ts
  atelier-guild-rank/tests/unit/features/quest/services/calculate-reward.test.ts
  atelier-guild-rank/tests/unit/features/quest/services/generate-quests.test.ts
Due: biome-check, typecheck

refactor: IBusEventのローカル重複定義を解消しEventHandlerを再利用
  atelier-guild-rank/src/scenes/types/main-scene-types.ts
Due: biome-check, typecheck

docs: バランス設計書とGAME_CONFIGの数値不整合を解消
  atelier-guild-rank/src/shared/constants/game-config.ts
  docs/design/atelier-guild-rank/balance-design.md
Due: biome-check, typecheck

chore: テストモック共通化（約1500行のモック重複削減）
  atelier-guild-rank/tests/integration/save-load-service.test.ts
  atelier-guild-rank/tests/mocks/phaser-mocks.ts
  atelier-guild-rank/tests/unit/presentation/scenes/components/rankup/RankUpHeader.test.ts
  atelier-guild-rank/tests/unit/presentation/scenes/components/rankup/RankUpRequirements.test.ts
  atelier-guild-rank/tests/unit/presentation/scenes/components/rankup/RankUpRewards.test.ts
  atelier-guild-rank/tests/unit/presentation/scenes/components/rankup/RankUpTestPanel.test.ts
  atelier-guild-rank/tests/unit/presentation/scenes/components/shop/ShopHeader.test.ts
  atelier-guild-rank/tests/unit/presentation/scenes/components/shop/ShopItemCard.test.ts
  atelier-guild-rank/tests/unit/presentation/scenes/components/shop/ShopItemGrid.test.ts
  atelier-guild-rank/tests/unit/presentation/scenes/components/shop/ShopScene.integration.test.ts
  atelier-guild-rank/tests/unit/presentation/scenes/components/title/TitleDialog.test.ts
  atelier-guild-rank/tests/unit/presentation/scenes/components/title/TitleLogo.test.ts
  atelier-guild-rank/tests/unit/presentation/scenes/components/title/TitleMenu.test.ts
  atelier-guild-rank/tests/unit/presentation/scenes/components/title/TitleScene.integration.test.ts
  atelier-guild-rank/tests/unit/presentation/scenes/rank-up-scene.test.ts
  atelier-guild-rank/tests/unit/presentation/scenes/shop-scene.test.ts
  atelier-guild-rank/tests/unit/presentation/ui/phases/components/delivery/__mocks__/scene.mock.ts
  atelier-guild-rank/tests/unit/presentation/ui/phases/components/delivery/__mocks__/services.mock.ts
  atelier-guild-rank/vitest.config.ts
Due: biome-check, typecheck

refactor: PR#349レビュー指摘を修正（モック分割・any除去・once実装）
  atelier-guild-rank/tests/mocks/game-object-mocks.ts
  atelier-guild-rank/tests/mocks/mock-types.ts
  atelier-guild-rank/tests/mocks/phaser-mocks.ts
  atelier-guild-rank/tests/mocks/scene-mocks.ts
  atelier-guild-rank/tests/mocks/service-mocks.ts
  atelier-guild-rank/tests/unit/presentation/scenes/rank-up-scene.test.ts
  atelier-guild-rank/tests/unit/presentation/scenes/shop-scene.test.ts
Due: biome-check, typecheck

game-design: ゲームバランス調整（Aランクスパイク・序盤緊張感・コンボ閾値）
  atelier-guild-rank/src/features/rank/services/contribution-calculator.ts
  atelier-guild-rank/src/shared/constants/game-config.ts
  atelier-guild-rank/src/shared/constants/index.ts
  atelier-guild-rank/src/shared/domain/services/contribution-calculator.ts
  atelier-guild-rank/tests/unit/domain/services/contribution-calculator.test.ts
  atelier-guild-rank/tests/unit/features/rank/services/contribution-calculator.test.ts
  docs/design/atelier-guild-rank/balance-design.md
Due: biome-check, typecheck

feat: ウェイファインディングと最適解固定化対策の設計ドキュメントを作成
  docs/design/atelier-guild-rank/wayfinding-and-variety.md
Due: none

docs: ウェイファインディング設計のレビュー指摘を反映
  docs/design/atelier-guild-rank/wayfinding-and-variety.md
Due: none

refactor: getComboModifierのコード重複を解消
  atelier-guild-rank/src/features/rank/services/contribution-calculator.ts
  atelier-guild-rank/src/shared/domain/services/contribution-calculator.ts
  atelier-guild-rank/src/shared/domain/services/index.ts
Due: biome-check, typecheck

refactor: import/re-exportパターンを明確化
  atelier-guild-rank/src/features/rank/services/contribution-calculator.ts
Due: biome-check, typecheck

fix: 採取フェーズで採取地を選択できない問題を修正
  atelier-guild-rank/src/features/gathering/components/GatheringPhaseUI.ts
  atelier-guild-rank/src/scenes/helpers/PhaseManager.ts
  atelier-guild-rank/tests/unit/features/gathering/components/GatheringPhaseUI.test.ts
Due: biome-check, typecheck

fix: レビュー指摘を修正（PR #358）
  atelier-guild-rank/src/features/gathering/components/GatheringPhaseUI.ts
  atelier-guild-rank/src/scenes/helpers/PhaseManager.ts
  atelier-guild-rank/tests/unit/features/gathering/components/GatheringPhaseUI.test.ts
  docs/reviews/20260301-pr-358-review.md
Due: biome-check, typecheck

docs: PRレビュー記録を追加
  docs/reviews/20260224-pr-341-review.md
  docs/reviews/20260225-pr-344-review.md
  docs/reviews/20260226-pr-348-review.md
Due: none

fix: 依頼一覧がフッターと被って表示される問題を修正
  atelier-guild-rank/src/shared/presentation/ui/phases/QuestAcceptPhaseUI.ts
  atelier-guild-rank/tests/unit/presentation/ui/phases/QuestAcceptPhaseUI-board-visitor.test.ts
Due: biome-check, typecheck

fix: レビュー指摘を修正（PR #360）
  atelier-guild-rank/src/scenes/MainScene.ts
  atelier-guild-rank/src/shared/constants/index.ts
  atelier-guild-rank/src/shared/constants/layout.ts
  atelier-guild-rank/src/shared/presentation/ui/phases/QuestAcceptPhaseUI.ts
  atelier-guild-rank/tests/unit/presentation/ui/phases/QuestAcceptPhaseUI-board-visitor.test.ts
Due: biome-check, typecheck

fix: 依頼受注後に表示数が3→8に変わる問題を修正
  atelier-guild-rank/src/scenes/helpers/PhaseManager.ts
  atelier-guild-rank/src/shared/presentation/ui/phases/QuestAcceptPhaseUI.ts
  atelier-guild-rank/tests/unit/presentation/ui/phases/QuestAcceptPhaseUI-board-visitor.test.ts
Due: biome-check, typecheck

fix: 調合画面のレシピ一覧がフッターと被って表示される問題を修正
  atelier-guild-rank/src/features/alchemy/components/AlchemyPhaseUI.ts
  atelier-guild-rank/src/shared/constants/index.ts
  atelier-guild-rank/src/shared/constants/layout.ts
Due: biome-check, typecheck

fix: PR #363 レビュー指摘を修正
  atelier-guild-rank/src/features/alchemy/components/AlchemyPhaseUI.ts
  atelier-guild-rank/src/scenes/MainScene.ts
  atelier-guild-rank/tests/unit/presentation/ui/phases/alchemy-phase-ui.test.ts
Due: biome-check, typecheck

fix: ゲームオーバー・ゲームクリア時のシーン遷移を実装
  atelier-guild-rank/src/scenes/MainScene.ts
  atelier-guild-rank/tests/unit/presentation/scenes/main-scene-game-end.test.ts
Due: biome-check, typecheck

fix: E2Eテストの残り日数ハードコード値をRANK_CONFIGから参照するように修正
  atelier-guild-rank/e2e/fixtures/test-data.ts
  atelier-guild-rank/e2e/specs/critical-path.spec.ts
  atelier-guild-rank/e2e/specs/free-phase-navigation/free-phase-navigation.spec.ts
  atelier-guild-rank/e2e/specs/game-flow.spec.ts
  atelier-guild-rank/e2e/specs/scenario/full-day-flow.spec.ts
  atelier-guild-rank/e2e/specs/scenario/game-clear-hybrid.spec.ts
  atelier-guild-rank/e2e/specs/scenario/game-start.spec.ts
  atelier-guild-rank/e2e/specs/scenario/multi-day-play.spec.ts
  atelier-guild-rank/e2e/specs/scenario/result-to-title.spec.ts
Due: biome-check, typecheck

fix: レビュー指摘に基づき追加のハードコード値を修正
  atelier-guild-rank/e2e/specs/keyboard/keyboard-navigation.spec.ts
  atelier-guild-rank/e2e/specs/scenario/save-load.spec.ts
Due: biome-check, typecheck

fix: レビュー指摘を修正（PR #369）
  atelier-guild-rank/src/scenes/MainScene.ts
  atelier-guild-rank/tests/unit/presentation/scenes/main-scene-game-end.test.ts
  docs/reviews/20260306-pr-369-review.md
Due: biome-check, typecheck

fix: MainScene遷移E2Eテストのデバッグツール依存を修正
  atelier-guild-rank/e2e/pages/base.page.ts
  atelier-guild-rank/e2e/pages/main.page.ts
  atelier-guild-rank/e2e/pages/phase-flow.page.ts
  atelier-guild-rank/e2e/pages/title.page.ts
  atelier-guild-rank/e2e/specs/scenario/multi-day-play.spec.ts
  atelier-guild-rank/src/main.ts
Due: biome-check, typecheck

refactor: スクロール機能をScrollableContainerとして共通コンポーネント化
  atelier-guild-rank/src/features/alchemy/components/AlchemyPhaseUI.ts
  atelier-guild-rank/src/shared/components/ScrollableContainer.ts
  atelier-guild-rank/src/shared/components/index.ts
  atelier-guild-rank/src/shared/presentation/ui/phases/QuestAcceptPhaseUI.ts
  atelier-guild-rank/tests/unit/shared/components/scrollable-container.test.ts
Due: biome-check, typecheck

fix: 初期デッキにバランス設計書準拠のカード15枚を設定
  atelier-guild-rank/src/shared/services/game-flow/game-flow-manager.ts
  atelier-guild-rank/tests/unit/application/services/game-flow-manager.test.ts
Due: biome-check, typecheck

fix: マウス操作E2EテストのCanvas座標計算をレイアウト定数ベースに統一
  atelier-guild-rank/e2e/fixtures/mouse-coordinates.ts
  atelier-guild-rank/e2e/pages/mouse-interaction.page.ts
  atelier-guild-rank/e2e/specs/mouse/mouse-interaction.spec.ts
Due: biome-check, typecheck

refactor: INITIAL_DECKをgame-config.tsに移動
  atelier-guild-rank/src/shared/constants/game-config.ts
  atelier-guild-rank/src/shared/constants/index.ts
  atelier-guild-rank/src/shared/services/game-flow/game-flow-manager.ts
Due: biome-check, typecheck

fix: レビュー指摘を修正（PR #378）
  atelier-guild-rank/e2e/fixtures/mouse-coordinates.ts
Due: biome-check, typecheck

fix: 初期手札ドローとGATHERING_LOCATIONSのcardIdをマスターデータに一致させる
  atelier-guild-rank/src/features/gathering/data/locations.ts
  atelier-guild-rank/src/shared/services/game-flow/game-flow-manager.ts
  atelier-guild-rank/tests/integration/free-phase-navigation/end-day-from-each-phase.test.ts
  atelier-guild-rank/tests/integration/free-phase-navigation/gathering-two-stage.test.ts
  atelier-guild-rank/tests/unit/application/services/game-flow-manager.test.ts
  atelier-guild-rank/tests/unit/features/gathering/services/gathering-location-service.test.ts
Due: biome-check, typecheck

fix: Chromiumアップデート後のビジュアルリグレッションテスト修正
  atelier-guild-rank/e2e/pages/visual-regression.page.ts
  atelier-guild-rank/e2e/specs/visual/main-scene.spec.ts
  atelier-guild-rank/e2e/specs/visual/main-scene.spec.ts-snapshots/draft-card-hover-tooltip-chromium-win32.png
  atelier-guild-rank/e2e/specs/visual/main-scene.spec.ts-snapshots/main-scene-alchemy-chromium-win32.png
  atelier-guild-rank/e2e/specs/visual/main-scene.spec.ts-snapshots/main-scene-delivery-chromium-win32.png
  atelier-guild-rank/e2e/specs/visual/main-scene.spec.ts-snapshots/main-scene-gathering-chromium-win32.png
  atelier-guild-rank/e2e/specs/visual/main-scene.spec.ts-snapshots/main-scene-header-chromium-win32.png
  atelier-guild-rank/e2e/specs/visual/main-scene.spec.ts-snapshots/main-scene-quest-accept-chromium-win32.png
  atelier-guild-rank/e2e/specs/visual/main-scene.spec.ts-snapshots/main-scene-sidebar-chromium-win32.png
  atelier-guild-rank/e2e/specs/visual/main-scene.spec.ts-snapshots/quest-card-hover-tooltip-chromium-win32.png
  atelier-guild-rank/e2e/specs/visual/main-scene.spec.ts-snapshots/recipe-hover-tooltip-chromium-win32.png
  atelier-guild-rank/src/shared/utils/debug.ts
Due: biome-check, typecheck

fix: INITIAL_DECKのas CardIdキャストをtoCardId()ヘルパーに統一
  atelier-guild-rank/src/shared/constants/game-config.ts
Due: biome-check, typecheck

fix: レビュー指摘を修正（PR #379）
  atelier-guild-rank/e2e/pages/visual-regression.page.ts
  atelier-guild-rank/e2e/specs/visual/main-scene.spec.ts
  atelier-guild-rank/e2e/types/game-window.types.ts
  atelier-guild-rank/src/shared/utils/debug.ts
  docs/reviews/20260309-pr-379-review.md
Due: biome-check, typecheck

Path conditions:
  biome-check: any of: *.{ts,tsx,js,jsx,json} and ^atelier\-guild\-rank/
  typecheck: any of: *.{ts,tsx} and ^atelier\-guild\-rank/
