Repository yaguma/atelier: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

biome-check:
  run: pnpm biome check --write --staged {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm tsc --noEmit

feat: TASK-0021 カードUIコンポーネント実装完了
  atelier-guild-rank/package-lock.json
  atelier-guild-rank/src/presentation/ui/components/Button.spec.ts
  atelier-guild-rank/src/presentation/ui/components/CardUI.spec.ts
  atelier-guild-rank/src/presentation/ui/components/CardUI.ts
  atelier-guild-rank/src/presentation/ui/components/Dialog.spec.ts
  atelier-guild-rank/src/presentation/ui/components/HandDisplay.spec.ts
  atelier-guild-rank/src/presentation/ui/components/HandDisplay.ts
  atelier-guild-rank/src/presentation/ui/index.ts
Due: biome-check, typecheck

feat(atelier-guild-rank): TASK-0016 ShopService・ArtifactService実装
  atelier-guild-rank/src/application/services/artifact-service.ts
  atelier-guild-rank/src/application/services/index.ts
  atelier-guild-rank/src/application/services/shop-service.ts
  atelier-guild-rank/src/domain/interfaces/artifact-service.interface.ts
  atelier-guild-rank/src/domain/interfaces/index.ts
  atelier-guild-rank/src/domain/interfaces/shop-service.interface.ts
  atelier-guild-rank/tests/unit/application/services/artifact-service.test.ts
  atelier-guild-rank/tests/unit/application/services/shop-service.test.ts
  docs/implements/atelier-guild-rank/TASK-0016/note.md
  docs/implements/atelier-guild-rank/TASK-0016/requirements.md
  docs/implements/atelier-guild-rank/TASK-0016/testcases.md
  docs/tasks/atelier-guild-rank/phase-2/TASK-0016.md
Due: biome-check, typecheck

feat(atelier-guild-rank): TASK-0017 GameFlowManager実装完了
  atelier-guild-rank/docs/implements/atelier-guild-rank/TASK-0017/game-flow-manager-green-phase.md
  atelier-guild-rank/docs/implements/atelier-guild-rank/TASK-0017/game-flow-manager-memo.md
  atelier-guild-rank/docs/implements/atelier-guild-rank/TASK-0017/game-flow-manager-refactor-phase.md
  atelier-guild-rank/src/application/services/game-flow-manager.interface.ts
  atelier-guild-rank/src/application/services/game-flow-manager.ts
  atelier-guild-rank/src/application/services/index.ts
  atelier-guild-rank/tests/unit/application/services/game-flow-manager.test.ts
  docs/implements/atelier-guild-rank/TASK-0017/game-flow-manager-memo.md
  docs/implements/atelier-guild-rank/TASK-0017/game-flow-manager-red-phase.md
  docs/implements/atelier-guild-rank/TASK-0017/game-flow-manager-requirements.md
  docs/implements/atelier-guild-rank/TASK-0017/game-flow-manager-testcases.md
  docs/implements/atelier-guild-rank/TASK-0017/note.md
  docs/tasks/atelier-guild-rank/phase-2/TASK-0017.md
Due: biome-check, typecheck

feat(atelier-guild-rank): TASK-0021 TDD準備フェーズ完了
  docs/implements/atelier-guild-rank/TASK-0021/card-ui-requirements.md
  docs/implements/atelier-guild-rank/TASK-0021/note.md
Due: none

feat(atelier-guild-rank): TASK-0021 カードUIコンポーネント実装完了
  atelier-guild-rank/src/presentation/ui/components/CardUI.spec.ts
  atelier-guild-rank/src/presentation/ui/components/CardUI.ts
  atelier-guild-rank/src/presentation/ui/components/HandDisplay.spec.ts
  atelier-guild-rank/src/presentation/ui/components/HandDisplay.ts
  docs/implements/atelier-guild-rank/TASK-0021/card-ui-green-phase.md
  docs/implements/atelier-guild-rank/TASK-0021/card-ui-memo.md
  docs/implements/atelier-guild-rank/TASK-0021/card-ui-red-phase.md
  docs/implements/atelier-guild-rank/TASK-0021/card-ui-testcases.md
  docs/tasks/atelier-guild-rank/overview.md
  docs/tasks/atelier-guild-rank/phase-3/TASK-0021.md
Due: biome-check, typecheck

feat(atelier-guild-rank): TASK-0020 TDD準備フェーズ完了
  docs/implements/atelier-guild-rank/TASK-0020/note.md
  docs/implements/atelier-guild-rank/TASK-0020/requirements.md
Due: none

feat(atelier-guild-rank): TASK-0020 MainScene共通レイアウト実装完了
  atelier-guild-rank/src/presentation/ui/main/FooterUI.spec.ts
  atelier-guild-rank/src/presentation/ui/main/FooterUI.ts
  atelier-guild-rank/src/presentation/ui/main/HeaderUI.spec.ts
  atelier-guild-rank/src/presentation/ui/main/HeaderUI.ts
  atelier-guild-rank/src/presentation/ui/main/SidebarUI.spec.ts
  atelier-guild-rank/src/presentation/ui/main/SidebarUI.ts
  atelier-guild-rank/src/presentation/ui/main/index.ts
  docs/implements/atelier-guild-rank/TASK-0020/testcases.md
  docs/tasks/atelier-guild-rank/phase-3/TASK-0020.md
Due: biome-check, typecheck

feat(atelier-guild-rank): TASK-0022 依頼受注フェーズUI実装完了
  atelier-guild-rank/src/presentation/ui/components/BaseComponent.ts
  atelier-guild-rank/src/presentation/ui/components/CardUI.ts
  atelier-guild-rank/src/presentation/ui/components/QuestCardUI.spec.ts
  atelier-guild-rank/src/presentation/ui/components/QuestCardUI.ts
  atelier-guild-rank/src/presentation/ui/phases/QuestAcceptPhaseUI.spec.ts
  atelier-guild-rank/src/presentation/ui/phases/QuestAcceptPhaseUI.ts
  atelier-guild-rank/tests/integration/quest-accept-phase.spec.ts
  docs/implements/atelier-guild-rank/TASK-0022/note.md
  docs/implements/atelier-guild-rank/TASK-0022/requirements.md
  docs/implements/atelier-guild-rank/TASK-0022/testcases.md
  docs/tasks/atelier-guild-rank/phase-3/TASK-0022.md
Due: biome-check, typecheck

feat(atelier-guild-rank): TASK-0023 採取フェーズUI実装完了
  docs/implements/atelier-guild-rank/TASK-0023/note.md
  docs/implements/atelier-guild-rank/TASK-0023/requirements.md
  docs/implements/atelier-guild-rank/TASK-0023/testcases.md
  docs/tasks/atelier-guild-rank/phase-3/TASK-0023.md
  src/presentation/ui/phases/GatheringPhaseUI.ts
  tests/unit/presentation/ui/phases/GatheringPhaseUI.spec.ts
Due: none

feat(atelier-guild-rank): TASK-0024 調合フェーズUI実装完了
  src/presentation/ui/components/MaterialSlotUI.ts
  src/presentation/ui/components/RecipeListUI.ts
  src/presentation/ui/phases/AlchemyPhaseUI.ts
Due: none

feat(atelier-guild-rank): TASK-0025 納品フェーズUI実装完了
  atelier-guild-rank/src/presentation/ui/components/DeliveryQuestPanel.ts
  atelier-guild-rank/src/presentation/ui/components/ItemInventoryUI.ts
  atelier-guild-rank/src/presentation/ui/components/RewardCardDialog.ts
  atelier-guild-rank/src/presentation/ui/phases/DeliveryPhaseUI.ts
Due: biome-check, typecheck

feat(atelier-guild-rank): TASK-0026 ショップ画面・昇格試験画面実装完了
  atelier-guild-rank/src/presentation/ui/scenes/RankUpScene.ts
  atelier-guild-rank/src/presentation/ui/scenes/ShopScene.ts
Due: biome-check, typecheck

fix: 既存UIファイルのTypeScriptエラーとフォーマット修正
  atelier-guild-rank/src/presentation/ui/components/DeliveryQuestPanel.ts
  atelier-guild-rank/src/presentation/ui/components/ItemInventoryUI.ts
  atelier-guild-rank/src/presentation/ui/components/RewardCardDialog.ts
  atelier-guild-rank/src/presentation/ui/phases/DeliveryPhaseUI.ts
Due: biome-check, typecheck

feat(atelier-guild-rank): TASK-0027 リザルト画面実装完了
  atelier-guild-rank/src/presentation/scenes/GameClearScene.spec.ts
  atelier-guild-rank/src/presentation/scenes/GameClearScene.ts
  atelier-guild-rank/src/presentation/scenes/GameOverScene.spec.ts
  atelier-guild-rank/src/presentation/scenes/GameOverScene.ts
  atelier-guild-rank/src/presentation/scenes/index.ts
  atelier-guild-rank/src/shared/types/events.ts
  atelier-guild-rank/src/shared/types/index.ts
  atelier-guild-rank/tests/setup.ts
Due: biome-check, typecheck

docs: Phase 2-3のタスク完了状況を更新
  docs/tasks/atelier-guild-rank/overview.md
Due: none

feat: TASK-0028 サービス統合・DI設定完了
  atelier-guild-rank/public/assets/data/master/quests/quest_templates.json
  atelier-guild-rank/src/infrastructure/di/setup.ts
  atelier-guild-rank/tests/integration/di/setup.test.ts
  atelier-guild-rank/tests/setup.ts
  docs/tasks/atelier-guild-rank/overview.md
  docs/tasks/atelier-guild-rank/phase-4/TASK-0028.md
Due: biome-check, typecheck

feat: TASK-0029 セーブ/ロード機能統合完了
  atelier-guild-rank/src/application/services/index.ts
  atelier-guild-rank/src/application/services/save-load-service.ts
  atelier-guild-rank/src/shared/types/events.ts
  atelier-guild-rank/src/shared/types/index.ts
  atelier-guild-rank/tests/integration/save-load-service.test.ts
  docs/implements/atelier-guild-rank/TASK-0029/note.md
  docs/implements/atelier-guild-rank/TASK-0029/requirements.md
  docs/implements/atelier-guild-rank/TASK-0029/testcases.md
  docs/tasks/atelier-guild-rank/overview.md
  docs/tasks/atelier-guild-rank/phase-4/TASK-0029.md
Due: biome-check, typecheck

feat: TASK-0030 E2Eテスト・デバッグ完了
  atelier-guild-rank/e2e/pages/base.page.ts
  atelier-guild-rank/e2e/pages/game.page.ts
  atelier-guild-rank/e2e/pages/main.page.ts
  atelier-guild-rank/e2e/pages/result.page.ts
  atelier-guild-rank/e2e/pages/title.page.ts
  atelier-guild-rank/e2e/specs/game-flow.spec.ts
  atelier-guild-rank/e2e/types/game-window.types.ts
  atelier-guild-rank/src/shared/utils/debug.ts
  atelier-guild-rank/src/shared/utils/index.ts
  atelier-guild-rank/tests/unit/debug-tools.test.ts
  docs/implements/atelier-guild-rank/TASK-0030/note.md
  docs/implements/atelier-guild-rank/TASK-0030/requirements.md
  docs/implements/atelier-guild-rank/TASK-0030/testcases.md
  docs/tasks/atelier-guild-rank/overview.md
  docs/tasks/atelier-guild-rank/phase-4/TASK-0030.md
Due: biome-check, typecheck

docs: Phase 5タスク作成・受け入れ基準更新
  atelier-guild-rank/public/data/cards.json
  atelier-guild-rank/public/data/materials.json
  docs/tasks/atelier-guild-rank/phase-1/TASK-0003.md
  docs/tasks/atelier-guild-rank/phase-1/TASK-0004.md
  docs/tasks/atelier-guild-rank/phase-1/TASK-0005.md
  docs/tasks/atelier-guild-rank/phase-1/TASK-0006.md
  docs/tasks/atelier-guild-rank/phase-2/TASK-0013.md
  docs/tasks/atelier-guild-rank/phase-2/TASK-0015.md
  docs/tasks/atelier-guild-rank/phase-3/TASK-0018.md
  docs/tasks/atelier-guild-rank/phase-3/TASK-0024.md
  docs/tasks/atelier-guild-rank/phase-3/TASK-0025.md
  docs/tasks/atelier-guild-rank/phase-3/TASK-0026.md
  docs/tasks/atelier-guild-rank/phase-3/TASK-0027.md
  docs/tasks/atelier-guild-rank/phase-5/TASK-0038.md
  docs/tasks/atelier-guild-rank/phase-5/TASK-0039.md
  docs/tasks/atelier-guild-rank/phase-5/TASK-0040.md
  docs/tasks/atelier-guild-rank/phase-5/TASK-0041.md
  docs/tasks/atelier-guild-rank/phase-5/TASK-0042.md
  docs/tasks/atelier-guild-rank/phase-5/TASK-0043.md
  docs/tasks/atelier-guild-rank/phase-5/TASK-0044.md
Due: biome-check

docs: TASK-0031 タスク完了状況更新
  docs/tasks/atelier-guild-rank/overview.md
  docs/tasks/atelier-guild-rank/phase-4/TASK-0031.md
Due: none

feat: TASK-0031 マスターデータ整備
  atelier-guild-rank/public/data/artifacts.json
  atelier-guild-rank/public/data/game-balance.json
  atelier-guild-rank/public/data/quests.json
  atelier-guild-rank/public/data/ranks.json
  atelier-guild-rank/public/data/recipes.json
Due: biome-check

docs: CLAUDE.md改善 - アーキテクチャ・コマンド情報追加
  CLAUDE.md
Due: none

feat: TASK-0032 ビルド・デプロイ設定完了
  atelier-guild-rank/.env.development
  atelier-guild-rank/.env.production
  atelier-guild-rank/.github/workflows/deploy.yml
  atelier-guild-rank/package.json
  atelier-guild-rank/pnpm-lock.yaml
  atelier-guild-rank/vite.config.ts
  docs/tasks/atelier-guild-rank/overview.md
  docs/tasks/atelier-guild-rank/phase-4/TASK-0032.md
Due: biome-check, typecheck

feat: TASK-0038 TitleSceneフェードイン・アウトアニメーション実装
  atelier-guild-rank/src/presentation/scenes/TitleScene.spec.ts
  atelier-guild-rank/src/presentation/scenes/TitleScene.ts
  docs/implements/atelier-guild-rank/TASK-0038/setup-report.md
  docs/implements/atelier-guild-rank/TASK-0038/verify-report.md
  docs/tasks/atelier-guild-rank/overview.md
  docs/tasks/atelier-guild-rank/phase-5/TASK-0038.md
Due: biome-check, typecheck

feat: TASK-0039 ボタンホバーエフェクト強化
  atelier-guild-rank/src/presentation/ui/components/Button.spec.ts
  atelier-guild-rank/src/presentation/ui/components/Button.ts
  atelier-guild-rank/src/presentation/ui/theme.ts
Due: biome-check, typecheck

feat: TASK-0040 サイドバー折りたたみアニメーション実装
  atelier-guild-rank/src/presentation/ui/main/SidebarUI.ts
  atelier-guild-rank/tests/unit/presentation/ui/main/SidebarUI.test.ts
Due: biome-check, typecheck

docs: TASK-0041 TDD要件定義とタスクノート作成
  docs/implements/atelier-guild-rank/TASK-0041/note.md
  docs/implements/atelier-guild-rank/TASK-0041/tooltip-requirements.md
Due: none

docs: TASK-0042 TDD要件定義とタスクノート作成
  docs/implements/atelier-guild-rank/TASK-0042/card-drag-drop-requirements.md
  docs/implements/atelier-guild-rank/TASK-0042/note.md
Due: none

docs: TASK-0043 TDD要件定義とタスクノート作成
  docs/implements/atelier-guild-rank/TASK-0043/note.md
  docs/implements/atelier-guild-rank/TASK-0043/quest-detail-modal-requirements.md
Due: none

docs: TASK-0041 TDD要件定義書作成
  docs/implements/atelier-guild-rank/TASK-0041/tooltip-system-requirements.md
Due: none

feat: TASK-0044 品質に応じた視覚効果を実装
  atelier-guild-rank/src/presentation/ui/components/MaterialSlotUI.ts
  atelier-guild-rank/src/presentation/ui/phases/GatheringPhaseUI.ts
  atelier-guild-rank/src/presentation/ui/theme.ts
Due: biome-check, typecheck

docs: TASK-0039 ボタンホバーエフェクト強化の完了確認
  atelier-guild-rank/src/presentation/ui/main/SidebarUI.spec.ts
  atelier-guild-rank/src/presentation/ui/main/SidebarUI.ts
  atelier-guild-rank/tests/unit/presentation/ui/main/SidebarUI.test.ts
  docs/tasks/atelier-guild-rank/overview.md
  docs/tasks/atelier-guild-rank/phase-5/TASK-0039.md
  docs/tasks/atelier-guild-rank/phase-5/TASK-0040.md
Due: biome-check, typecheck

feat: TASK-0041 ツールチップ表示システムを実装
  atelier-guild-rank/docs/implements/atelier-guild-rank/TASK-0041/note.md
  atelier-guild-rank/src/presentation/ui/components/TooltipManager.ts
  atelier-guild-rank/tests/unit/presentation/ui/components/TooltipManager.test.ts
  docs/implements/atelier-guild-rank/TASK-0041/requirements.md
  docs/implements/atelier-guild-rank/TASK-0041/testcases.md
  docs/tasks/atelier-guild-rank/overview.md
  docs/tasks/atelier-guild-rank/phase-5/TASK-0041.md
Due: biome-check, typecheck

feat: TASK-0042 カードドラッグ＆ドロップ機能を実装
  atelier-guild-rank/src/presentation/ui/components/DraggableCardUI.spec.ts
  atelier-guild-rank/src/presentation/ui/components/DraggableCardUI.ts
  atelier-guild-rank/src/presentation/ui/components/DropZone.ts
  atelier-guild-rank/src/presentation/ui/components/DropZoneManager.spec.ts
  atelier-guild-rank/src/presentation/ui/components/DropZoneManager.ts
  docs/implements/atelier-guild-rank/TASK-0042/completion.md
  docs/implements/atelier-guild-rank/TASK-0042/testcases.md
  docs/tasks/atelier-guild-rank/phase-5/TASK-0042.md
Due: biome-check, typecheck

docs: TASK-0044 完了条件のチェックボックスを更新
  docs/tasks/atelier-guild-rank/phase-5/TASK-0044.md
Due: none

feat: TASK-0043 依頼詳細モーダル・受注アニメーションを実装
  atelier-guild-rank/src/presentation/ui/components/QuestDetailModal.spec.ts
  atelier-guild-rank/src/presentation/ui/components/QuestDetailModal.ts
  atelier-guild-rank/src/presentation/ui/phases/QuestAcceptPhaseUI.spec.ts
  atelier-guild-rank/src/presentation/ui/phases/QuestAcceptPhaseUI.ts
  docs/implements/atelier-guild-rank/TASK-0043/note.md
  docs/implements/atelier-guild-rank/TASK-0043/requirements.md
  docs/implements/atelier-guild-rank/TASK-0043/testcases.md
  docs/tasks/atelier-guild-rank/overview.md
  docs/tasks/atelier-guild-rank/phase-5/TASK-0043.md
Due: biome-check, typecheck

docs: Playwright Test Agents E2Eテスト計画を作成
  docs/testing/atelier-guild-rank/README.md
  docs/testing/atelier-guild-rank/playwright-test-plan.md
Due: none

test: Playwright Test Agentsによる包括的E2Eテストスイートを実装
  atelier-guild-rank/e2e/fixtures/test-data.ts
  atelier-guild-rank/e2e/pages/ui-component.page.ts
  atelier-guild-rank/e2e/specs/boot.spec.ts
  atelier-guild-rank/e2e/specs/phase5-ui-enhancements.spec.ts
Due: biome-check, typecheck

feat: 4つのゲームフェーズ用Page Objectsを実装
  atelier-guild-rank/e2e/pages/alchemy.page.ts
  atelier-guild-rank/e2e/pages/delivery.page.ts
  atelier-guild-rank/e2e/pages/gathering.page.ts
  atelier-guild-rank/e2e/pages/quest.page.ts
Due: biome-check, typecheck

test: クリティカルパスE2Eテストスイートを実装
  atelier-guild-rank/e2e/specs/critical-path.spec.ts
Due: biome-check, typecheck

Path conditions:
  biome-check: any of: *.{ts,tsx,js,jsx,json} and ^atelier\-guild\-rank/
  typecheck: any of: *.{ts,tsx} and ^atelier\-guild\-rank/
